.blockMovie{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr)
}

.smallBlock{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 10px;
}
.smallBlock img{
    border-radius: 10px;
    height: 290px;
    width: 200px;
}