.blockMovies{
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 60px;
}

.blockMovie{
    display: flex;
    flex-wrap: wrap;
    /*grid-gap: 10px;*/
    /*grid-template-columns: repeat(4,1fr);*/
    padding-bottom: 25px;
    justify-content: center;
}

.smallBlock{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    width: 300px;
    height: 300px;
    padding: 17px;
    margin: 25px;
}

.smallBlock img{
    border-radius: 10px;
    height: 290px;
    width: 200px;
}
.smallBlock span{
    text-decoration: none;
}


.bottom button{
    height: 50px;
    width: 100px;
    margin: 15px;
}

.detailBlock{
    padding: 60px;
    display: flex;
    text-align: center;
}
.details{
    display: flex;
    justify-content: center;
}
.detailInfo{
    flex-direction: column;
    margin: 0 auto;
}
.blockGenre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 10px;
}
/*.stars{*/
/*    border-radius: 25px;*/
/*    box-shadow: 2px 3px 2px 1px black;*/
/*}*/