.blockMovies{
    display: flex;
    flex-direction: column;
    text-align: center;

    /*padding-top: 60px;*/
}

.blockMovie{
    display: flex;
    flex-wrap: wrap;
    /*grid-gap: 10px;*/
    /*grid-template-columns: repeat(4,1fr);*/
    padding-bottom: 25px;
    justify-content: center;
}

.smallBlock{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    width: 300px;
    height: 300px;
    padding: 17px;
    margin: 25px;
}

.smallBlock img{
    border-radius: 10px;
    height: 290px;
    width: 200px;
}
.smallBlock img:hover{
    height: 300px;
    width: 210px;
    transition: ease-in-out 0.4s;
}
.smallBlock span{
    text-decoration: none;
}
.smallRating{
    position: relative;
    bottom: -20px;
    right: -80px;
}


.bottom button{
    height: 50px;
    width: 100px;
    margin: 15px;
}

.detailBlock{
    padding: 60px;
    display: flex;
    text-align: center;
}
.details{
    display: flex;
    justify-content: center;
}
.detailInfo{
    flex-direction: column;
    margin: 0 auto;
}
.blockGenre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 10px;
}
.prevNext{
    margin: 4px;
    border-radius: 30px;
    width: 135px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0  #f9e506;
}
.prevNext:hover{
    box-shadow: inset 0 0 30px 0  #ff5722;
    cursor: pointer;
    color: #000;
}
.prevNext:active{
    background: darkred;
    box-shadow: inset 0 0 0 0  #ff5722;
    color: white;
    transition: ease-out 0.1s;
}
@media (max-width: 850px) {
    .detailBlock{
        width: 650px;
        display: flex;
        /*flex-direction: column;*/
        /*margin-left: 50px;*/
    }
    .details{
        flex-wrap: wrap;
        align-items: center;
    }
    .details img{
        height: 300px;
        width: 300px;
    }
}