.genre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

input[type="button"],.hideBtn{
    /*position: relative;*/
    /*bottom: 2px;*/
    margin: 4px;
    border-radius: 30px;
    width: 135px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0  #f9e506;
}
input[type="button"]:hover{
    box-shadow: inset 0 30px 30px 0  #ff5722;
    cursor: pointer;
    color: #000;
}
input[type="button"]:active{
    background: darkred;
    box-shadow: inset 0 0 0 0  #ff5722;
    color: white;
    transition: ease-out 0.1s;
}
.genreBadge{
    position: relative;
    bottom: -40px;
    left: 55px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 13px;
}