.headerBlock{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    z-index: 1;

    position: fixed;

    background: #101e26;
    color: white;
}
a{
    text-decoration: none;
}

.logo{
    color:#ffc107;
    font-size: 24px;
    font-family: Arial;
    box-shadow: inset 0 0 0 0  #ff5722;
}
.logo:hover{
    box-shadow: inset 80px 0 0 0  #ff5722;
    transition: ease-out 0.3s;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
}

.toggle{
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    background-color: #ffc107;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0  #f9e506;
    transition: ease-out 0.3s;
    font-size: 14px;
    outline: none;
}
.toggle:hover{
    box-shadow: inset 0 30px 30px 0  #ff5722;
    cursor: pointer;
    color: #000;
}
.userInfo{
    display: flex;
}
.userInfo div{
    margin-right: 5px;
}
.circle{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
@media (max-width: 850px) {
    .logo{
        font-size: 18px;
    }
}
@media (max-width: 440px) {
    .logo{
        font-size: 14px;
    }
    .userInfo div{
        margin-right: 2px;
    }
    .circle{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}